.nav{

    top:10px;
    box-shadow: 0px 5px 15px #0000002E;
     img{
         padding-top: 15px;
         padding-bottom: 15px;
     }
    }



.container{
    background-color: white;
}
.container ul{
    position: relative;
}
.container .nav-link{
    position: relative;
    z-index: 99999;

}
.panel{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3A3C3F;
    
    border-radius: 3px;
    cursor: pointer;
    z-index: 0;
    box-shadow: 0px 5px 15px #0000002E;
    


}