@import '../stylings/fonts';
@import '../stylings/colors';



    .nav{
             
    top:170px;
    
    left:0;
    right:0;
   
    text-align: center;

    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
   
    z-index: 9999999999;
    box-shadow: 1px 3px 14px -1px rgba(38,38,38,0.24);
 
     img{
         padding-top: 14px;
         padding-bottom: 14px;
         width: 30px;
         height: 50px;

     }
     p{
         display: none;
     }


        .nav-item{
            border-right: solid;
            border-color: rgba(182, 182, 182, 0.178);
            border-width: thin;
            
            
            .nav-link:not(.active){
                background-color:#fff ;
            }
            .nav-link{
                background-color: #3A3C3F;
                
                
            }
        }
    }

//END OF NAV PILL

@media screen and (min-width: 682px) {
    .navHead-conatainer{
        h1{

            text-align: center;
            font-size: 30px;
            margin-top: 55px;
            margin-bottom: 7px;
            font-family: 'robotobold';
            color: $mainColor;
            font-size: 55px;
            letter-spacing: 0.36px;
            font-weight: bolder;
        }



    }
    //TO PAGE AREA HEAD
    .nav{

        top:145px;;
        z-index: 9999999999;
        box-shadow: 0px 5px 15px #0000002E;
        margin: 0px 145px;
 
         img{
             padding-top: 15px;
             padding-bottom: 15px;
             width: 40px;
             height: 66px;
         }

         .testmony-img{
             width: 43.66px;
             height: 66px;
             
         }  
         .hands-img{
             width: 54px;
            height: 66px;
            padding-top: 18px;
            padding-bottom: 18px;
         }
    
         p{
             display: block;
             color: $lightGreen;
             font-size: 14px;
             letter-spacing: 0.28px;
             text-transform: uppercase;
             font-family: 'robotomedium';

         }
        }
    //END OF NAV PILL

}