@font-face {
    font-family: 'robotobold';
    src: url('../../dist/fonts/roboto-bold.woff2') format('woff2'),
         url('../../dist/fonts/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotomedium';
    src: url('../../dist/fonts/roboto-medium.woff2') format('woff2'),
         url('../../dist/fonts/roboto-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotolight';
    src: url('../../dist/fonts/roboto-light.woff2') format('woff2'),
         url('roboto-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}