<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dist/css/main.min.css">
    {%block title%}
    {%endblock%}
</head>
<body>
    <div class="head-container">
        <h2>Business Resource Library</h2>
        <p>Select the category icons below to explore.</p>
    </div>
    <div class="btn-group">
        <button><img src="../static/src/img/credit-card@2x.png" alt=""></button>
        <button><img src="../static/src/img/handshake@2x.png" alt=""></button>
        <button><img src="../static/src/img/church@2x.png" alt=""></button>
        <button><img src="../static/src/img/landmark@2x.png" alt=""></button>
        <button><img src="../static/src/img/crown@2x.png" alt=""></button>
        <button><img src="../static/src/img/Group 67@2x.png" alt=""></button>

      </div>
     {%block body%}
     {%endblock%}
</body>
</html>