{%extends 'base.html'%}

{%block body%}


<!--BODY AREA TO DISPLAY CARDS-->
<div class="tab-content">
  <div class="tab-pane fade show active" id="step-1" aria-labelledby="step1-tab" role="tabpanel">
    <h4>Financial</h4>
    <ol>
      <!--CARD-->
      <li>
        
        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/nina-strehl-Ds0ZIA5gzc4-unsplash@2x.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>
      </li>

        <!--CARD-->

      <li>



        
        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/sven-brandsma-wFvoZbZ8nOw-unsplash.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>

      </li>
      <!--CARD-->
      <li>




        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/sven-brandsma-wFvoZbZ8nOw-unsplash.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>

      </li>
      <!--CARD-->
      <li>




        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/sven-brandsma-wFvoZbZ8nOw-unsplash.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>

      </li>
    </ol>
  </div>
  <div class="tab-pane fade show " id="step-2" aria-labelledby="step2-tab" role="tabpanel">
    <h4>Legal</h4>



    <ol>
      <li>
        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/nina-strehl-Ds0ZIA5gzc4-unsplash@2x.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>
      </li>



      <li>




        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/sven-brandsma-wFvoZbZ8nOw-unsplash.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>

      </li>
    </ol>


  </div>
  <div class="tab-pane fade show " id="step-3" aria-labelledby="step3-tab" role="tabpanel">

  </div>
  <div class="tab-pane fade show" id="step-4" aria-labelledby="step4-tab" role="tabpanel">
    <h4>Government</h4>
    <ol>
      <li>
        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/nina-strehl-Ds0ZIA5gzc4-unsplash@2x.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>
      </li>



      <li>




        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/sven-brandsma-wFvoZbZ8nOw-unsplash.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>

      </li>
      <li>




        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/sven-brandsma-wFvoZbZ8nOw-unsplash.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>

      </li>
      <li>





        <div class="cards-container">


          <img class="banner-img" src="../static/src/img/sven-brandsma-wFvoZbZ8nOw-unsplash.png" alt="">
          <a class="video-link" href="#"><img src="../static/src/img/play-circle@2x.png" alt="">Video</a>

          <strong>Citizens Uplift Homeless in CBD</strong> <br />
          <small>April 6, 2020</small>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim venia…


          </p>
          <ul>
            <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
            <li>
              <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1.png" alt="">
            </li>
          </ul>


        </div>

      </li>
    </ol>
  </div>
  <div class="tab-pane fade show" id="step-5" aria-labelledby="step5-tab" role="tabpanel">

  </div>
  <div class="tab-pane fade show" id="step-6" aria-labelledby="step6-tab" role="tabpanel">

  </div>




</div>
<div class="below-card">


</div>
{%endblock%}