{%extends 'base.html'%}

{%block body%}
<div class="container">

    <div class="financial-container">

        <h1>Financial</h1>
        <div class="cards-container">


            <img class="banner-img" src="../static/src/img/nina-strehl-Ds0ZIA5gzc4-unsplash@2x.png" alt="">

            <h4>Citizens Uplift Homeless in CBD</h4>
            <p>April 6, 2020</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim venia…
            </p>
            <ul>
                <li><img class="share-img" src="../static/src/img/share-alt-1@2x.png" alt=""></li>
                <li>
                    <figcaption>Staff Writer</figcaption> <img class="logo-img" src="../static/src/img/Image 2-1@2x.png" alt="">
                </li>
            </ul>
           

        </div>
        <div class="questions-container">
            <h1>Frequently Asked Questions</h1>
        </div>

    </div>
</div>
{%endblock%}