{%extends 'base.html'%}

{%block body%}
<div class="container">
<div class="cards-container">

<img src="../static/src/img/nina-strehl-Ds0ZIA5gzc4-unsplash@2x.png" alt="">

<h1>Citizens Uplift Homeless in CBD</h1>
<p>April 6, 2020</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
    sed do eiusmod tempor 
    incididunt ut labore et dolore magna aliqua. 
    Ut enim ad minim venia…
</p>
<ul>
    <li><img src="../static/src/img/share-alt-1@2x.png" alt=""></li>
    <li><p>Staff Writer</p> <img src="../static/src/img/Image 2-1@2x.png" alt=""></li>
</ul>
<div class="questions-container">
    <h1>Frequently Asked Questions</h1>
</div>


</div>
</div>
{%endblock%}